{% extends 'home/base.html' %}
{% block header %}
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">    
        <h1 class="fw-bolder">Lista de Reservas</h1>
    </div>
{% endblock  %}
{% block content %}
    <div>
        {% for reserva in reservas %}
            <div>
                <h3 class="text-bg-dark">
                    {{ reserva.nombre }} {{ reserva.apellido }} 
                    {% if user.is_staff %}
                     <a class="btn btn-outline-danger" href="{% url 'blog:reserva_delete' reserva.id %}">Eliminar</a>
                     <a class="btn btn-outline-info" href="{% url 'blog:reserva_update' reserva.id %}">Editar</a>
                    {% endif %}
                </h3>
                <ul>
                    <li><strong><u>DNI:</u></strong> {{ reserva.dni }}</li>
                    <li><strong><u>Fecha de llegada:</u></strong> {{ reserva.fecha_llegada }}</li>
                    <li><strong><u>Fecha de salida:</u></strong> {{ reserva.fecha_salida }}</li>
                    <li><strong><u>Número de habitación:</u></strong> {{ reserva.numero_habitacion }}</li>
                    {% if reserva.comentarios %}
                        <li><strong style="color: red;"><u>Comentarios:</u></strong> {{ reserva.comentarios }}</li>
                    {% endif %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
